h3 {
  font-weight: bold;
}

.btn {
	padding: 5px;
	background: #eef;
	font-family: sans-serif;
	margin: 5px
}

.btn {
	@apply px-3 py-2 rounded bg-blue-100 hover:bg-blue-300;
}

.header {
	padding: 5px;
	color: purple;
    background: AliceBlue;
	font-family: sans-serif
}

img {
   max-width: 100%;
   height: auto;
}

.links {
  /*padding: 1rem;*/
  background: #eef;
}
.links a {
  /*font-weight: bold;*/
  color: black;
  text-decoration: none;
}
.links a:hover {
  color: green;
}

.notice { 
   background: #eef;
}
